header { width: 100%; height: auto; padding: 0; } 
header > .servBar > .inner { display: none; } 
header > .gnb { height: 65px; border-bottom: 1px solid #e1e3e6; } 
header > .gnb > .inner { padding: 0 87px 0 14px; } 
header > .gnb > .inner::before { width: 180px; height: 74px; content: ""; position: absolute; top: 0; right: 0; z-index: 1; background: url(../images/m-header-bg.png) no-repeat; background-size: 180px 74px; } 
header > .gnb .logo { display: inline-block; height: auto; } 
header > .gnb .logo > a { width: 100px; height: 52px; background-size: 100px 39px; } 
header > .gnb .topMenu { display: none; } 
header > .gnb nav { display: block; } 
header .gnb .userSupport { margin: 0; display: inline-block; line-height: 0; position: absolute; top: 19px; right: 18px; z-index: 1; } 
header > .gnb .userSupport > .searchSup { width: 20px; height: 20px; background: url(../images/ico-search.png) no-repeat center /20px 20px; } 
header > .gnb .userSupport > .fullMenuSup { width: 19px; height: 16px; background: url(../images/ico-menu-white.png) no-repeat center /19px 16px; } 
header h1.logo { margin: 0; } 
main .noticeBanner {width: 43%;}
main .noticeBanner .boxViewport li {width: 100%;}
main .visitorMenu .moreMenu a { padding: 0 6px; } 
main .visitorMenu .menuList ul { justify-content: space-between; padding: 0 10px; } 
main .visitorMenu .menuList span { width: 70px; height: 70px; line-height: 70px; margin-bottom: 3px; } 
.menuList p { line-height: 20px; font-size: 14px; } 
main .visitorMenu .menuList .n1th { background-position: -5px -5px; } 
main .visitorMenu .menuList .n2th { background-position: -85px -5px; } 
main .visitorMenu .menuList .n3th { background-position: -165px -5px; } 
main .visitorMenu .menuList .n4th { background-position: -245px -5px; } 
main .visitorMenu .menuList .n5th { background-position: -5px -85px; } 
main .visitorMenu .menuList .n6th { background-position: -85px -85px; } 
main .visitorMenu .menuList .n7th { background-position: -165px -85px; } 
main .visitorMenu .menuList .n8th { background-position: -245px -85px; } 
main .visitorMenu .menuList .n9th { background-position: -5px -165px; } 
main .visitorMenu .menuList .n1th:hover { background-position: -85px -165px; } 
main .visitorMenu .menuList .n2th:hover { background-position: -165px -165px; } 
main .visitorMenu .menuList .n3th:hover { background-position: -245px -165px; } 
main .visitorMenu .menuList .n4th:hover { background-position: -5px -245px; } 
main .visitorMenu .menuList .n5th:hover { background-position: -85px -245px; } 
main .visitorMenu .menuList .n6th:hover { background-position: -165px -245px; } 
main .visitorMenu .menuList .n7th:hover { background-position: -245px -245px; } 
main .visitorMenu .menuList .n8th:hover { background-position: -5px -325px; } 
main .visitorMenu .menuList .n9th:hover { background-position: -85px -325px; } 
.mainBanner { margin-top: 45px; } 
main > .background > .newsWrap > div { width: 31.8%; } 
main .headthInfo { padding: 38px 25px 0; } 
main .policyWrap { margin-top: 45px; } 
main .mainPolicy { width: 65.9%; padding: 43px 30px 0; } 
main .eventBanner { width: 31.8%; } 
main .aboutWrap { margin-top: 45px; } 
main .alarmService { width: 31.8%; padding:33px 20px 0; } 
main .divWrap { width: 31.8%; } 
main .promotionZone { width: 31.8%; } 
main .serviceWrap { display: block; margin-top: 45px; height: auto; padding: 45px 20px; } 
main .serviceWrap .customerService { width: 63%; float: left; margin: 0; } 
main .serviceWrap .newsLetter { width: 33%; float: right; } 
main .serviceWrap .appDownload { width: 100%; clear: both; padding-top: 30px; } 
footer { text-align: center; padding: 40px 15px 30px;} 
footer .footerTop { height: auto; } 
footer .footerTop .terms.fl { float: none; text-align: center; } 
footer .footerTop .relatedSites.fr { float: none; text-align: center; }
footer .footerTop .relatedSites label {text-align: left;} 
.internalRelatedToggle {bottom: 330px; text-align: left;}
.relatedToggle {bottom: 330px; text-align: left;}
footer .footerBottom { margin-top: 25px; padding: 0; } 
footer .footerBottom .certificationList { position: static; display: block; padding: 15px 0; border-top: 1px solid #e5e5e5; } 
footer .footerBottom .certificationList > li > a { line-height: 72px; } 
footer .footerBottom .snsList { position: static; display: block; padding: 15px 0; border-top: 1px solid #e5e5e5; } 
footer .footerBottom .footerTxt {margin-top: 10px;}



.quickMenu { display: none; } 