* { margin: 0; padding: 0; border: 0; box-sizing: border-box; } 
html { overflow-y: scroll; overflow-x: hidden; } 
dd, dt { padding: 0; margin: 0; display: inline-block; } 
ul,
ol,
li { list-style: none; display: inline-block; } 
a { text-decoration: none; color: inherit; } 
button { color: inherit; cursor: pointer; } 
.fl { float: left; } 
.fr { float: right; } 
.cf::after { content: ''; display: block; clear: both; } 
.df { display: flex; } 
.pr { position: relative; } 
.pa { position: absolute; } 
.ps { position: static; } 


button {font-family:'NBG', 'Malgun Gothic',Dotum,'돋움',sans-serif; }
address { font-style: normal; } 

/*nhis reset*/


body { font-size: 15px; line-height: 1.5; color: #6c6d73; font-weight: normal; font-weight: 400; font-family: 'NBG', 'Malgun Gothic',Dotum,'돋움',sans-serif; } 
img { vertical-align: middle; } 
em { font-style: normal; } 
input:focus { outline: dotted 1px; } 
