@charset "utf-8"; .goMenu a { display: block; position: absolute; left: 2px; top: 10px; transform: translateY(-9999%); width: 400px; padding: 5px 0; text-align: center; z-index: 4; } 
.goMenu a:focus { transform: translateY(40px); background: #fff; color: #000; border: 1px dotted red; } 

#layerPopup { position: fixed; width: 100%; height: 40px; background: #f6f6f6; z-index: 5; line-height: 40px; text-align: center; display: block; border-bottom: 1px solid;} 
#layerPopup a{ position: absolute; right: 0; cursor: pointer; padding: 0 20px; font-weight: 700;}
#none {display: none; padding-right: 20px;}
#block {display: block;}
.t40 {top: 40px;}

#wrap { width: 100%; position: relative;} 
#wrap::before { background: url(../images/bg_layout_l.png); top: 0; left: 0; height: 400px; position: absolute; content: ""; width: 170px;} 
#wrap.none::before {display: none;}
#wrap::after { background: url(../images/bg_layout_r.png); top: 10px; right: 0; height: 390px; position: absolute; content: ""; width: 170px; } 
#wrap.none::after {display: none;}
@media(max-width:1530px){
    #wrap::before, #wrap::after { display: none; } 
}

.inner { max-width: 1180px; width: 100%; margin: 0 auto; position: relative; } 

header { width: 100%; height: 120px; padding-bottom: 70px; } 
header > .servBar > .inner { height: 46px; padding-top: 14px; } 
header > .servBar .webAcc { font-size: 13px; } 
header > .servBar .webAcc > span:last-child { margin-left: 20px; } 
header > .servBar .webAcc em { margin-right: 4px; color: #6c6d73; font-size: 13px; } 
header > .servBar .webAcc button { width: 20px; height: 20px; text-indent: -9999px; margin-right: 1px; } 
header > .servBar .webAcc .plusAcc { background: url(../images/btn-increase.png); } 
header > .servBar .webAcc .minusAcc { background: url(../images/btn-decrease.png); } 
header > .servBar .webAcc .muteAcc { background: url(../images/btn-sound.png); } 
header > .servBar .userSet { font-size: 13px; } 
header > .servBar .userSet > ul > li { padding-left: 20px; margin-left: 20px; border-left: 1px solid #e1e1e1; color: #707377; } 
header > .servBar .userSet > ul > li:first-child { border: none; } 
header > .servBar .userSet > ul > li:last-child { color: #d7021b; } 

/* Top userSet toggle */

header > .servBar .userSet > ul { margin-right: 12px; } 
header > .servBar .userSet input { display: none; } 
header > .servBar .userSet label { cursor: pointer; display: inline-block; } 
header > .servBar .userSet label::after { content: "▼"; font-size: 0.6em; color: #434559; position: absolute; right: -13px; top: 4px; } 
header > .servBar .userSet .languageMenu { display: none; top: 35px; right: -12px; min-width: 130px; z-index: 3; padding: 9px 19px; border: 1px solid #666779; border-radius: 10px; vertical-align: top; background-color: #fff; } 
header > .servBar .userSet #languageToggle:checked ~ .languageMenu { display: block; } 
header > .servBar .userSet #languageToggle:checked ~ label::after { content: "▲"; } 
header > .servBar .userSet .languageMenu li { display: block; line-height: 33px; letter-spacing: -0.025em; color: #44465c; font-size: 15px; } 
header > .servBar .userSet .languageMenu li:hover > a { color: #d7021b; text-decoration: underline; } 
header > .servBar .userSet .siteMenu { display: none; top: 35px; right: -12px; min-width: 130px; z-index: 3; padding: 9px 19px; border: 1px solid #666779; border-radius: 10px; vertical-align: top; background-color: #fff; color: #44465c; width: 361px; height: 260px; padding: 19px; } 
header > .servBar .userSet #siteToggle:checked ~ .siteMenu { display: block; } 
header > .servBar .userSet #siteToggle:checked ~ label::after { content: "▲"; } 
header > .servBar .userSet .siteMenu li { width: 106px; height: 120px; } 
header > .servBar .userSet .siteMenu a { width: 106px; height: 110px; padding-top: 10px; } 
header > .servBar .userSet .siteMenu p { text-align: center; font-size: 15px; } 
header > .servBar .userSet .siteMenu span { display: block; width: 56px; height: 56px; margin: 0 auto 10px; border-radius: 20px; background-image: url(../images/sprite.png); } 
header > .servBar .userSet .siteMenu .n1thSite { background-position: 0 -401px; background-color: #f16669; } 
header > .servBar .userSet .siteMenu .n2thSite { background-position: -56px -401px; background-color: #bf9d83; } 
header > .servBar .userSet .siteMenu .n3thSite { background-position: -112px -401px; background-color: #4cc771; } 
header > .servBar .userSet .siteMenu .n4thSite { background-position: 0 -457px; background-color: #658dd0; } 
header > .servBar .userSet .siteMenu .n5thSite { background-position: -56px -457px; background-color: #58606b; } 
header > .servBar .userSet .siteMenu .n6thSite { background-position: -112px -457px; background-color: #9385dd; } 

/* 
~ Top userSet toggle
GNB 
*/

header > .gnb > .inner { position: static; } 
header > .gnb .logo { flex:1 0 142px; height: 72px; } 
header > .gnb .logo > a { display: block; text-indent: -9999px; width: 142px; height: 100%; background: url(../images/logo.png) no-repeat center; } 
header > .gnb .topMenu { flex: 0 0 800px; padding-top: 20px; } 
header > .gnb .topMenu > a { flex: 0 0 160px; display: inline-block; font-size: 20px; font-weight: 700; color: #44465c; padding-left: 17px; font-family:'Noto Sans KR', sans-serif; } 
header > .gnb .topMenu > a:hover { color: #ee0700; text-decoration: underline; text-underline-position: under; } 
header > .gnb .userSupport { flex:0 0 118px; line-height: 72px; text-align: right; } 
header > .gnb .userSupport > button { width: 40px; height: 40px; text-indent: -9999px; } 
header > .gnb .userSupport > .searchSup { background: url(../images/ico-search-navy.png) no-repeat 10px 8px; } 
header > .gnb .userSupport > .fullMenuSup { background: url(../images/ico-menu-navy.png) no-repeat 10px 10px; margin-left: 8px; } 
header > .gnb .gnbMenu { display: none; background: #fff; width: 100%; height: 388px; left: 0; top: 72px; overflow: hidden; z-index: 2; border-bottom:1px solid #000; border-top: 1px solid #e1e1e1;} 
header > .gnb .normalMenu > .inner > div:first-child { flex: 1 0 142px; background: url(../images/gnb-visual.png) no-repeat center; } 
header > .gnb .normalMenu > .inner > div.df { flex: 0 0 800px; } 
header > .gnb .normalMenu ul { flex: 0 0 160px; display: block; padding: 22px 17px; } 
header > .gnb .normalMenu ul:hover { background: #f6f6f6; } 
header > .gnb .normalMenu li { display: block; padding: 5px 0; } 
header > .gnb .normalMenu li a { display: block; color: #44465c; letter-spacing: -0.5px; } 
header > .gnb .normalMenu li:hover a,header > .gnb .normalMenu li:active a { color: #dd0c09; text-decoration: underline; } 
header > .gnb .normalMenu li img { margin: 0 0 2px 2px; } 
header > .gnb .normalMenu > .inner > div:last-child { flex:0 0 118px; } 
header > .gnb nav> .gnbMenu > .favoriteMenu { border-top: 1px solid #e1e1e1; height: 59px; line-height: 59px; } 
header > .gnb nav > .gnbMenu > .favoriteMenu dl { width: 800px; margin-left: 20%; } 
header > .gnb nav > .gnbMenu > .favoriteMenu dt { font-weight: 700; color: #44465c; margin-left: 32px; } 
header > .gnb nav > .gnbMenu > .favoriteMenu a { margin-left: 32px; color: #3a3a4a; } 

/* ~ GNB */







main { width: 100%; padding-top: 50px; } 
main .searchWrap { width: 50%; padding: 20px 1px 0; } 
main .searchWrap .formArea { padding-right: 80px; margin-bottom: 20px; } 
main .searchWrap .formArea input { width: 100%; height: 60px; line-height: 54px; text-indent: 25px; border: 3px solid #ee0700; border-radius: 10px; font-size: 19px; } 
main .searchWrap .formArea button { width: 60px; height: 60px; top: 0; right: 0; border-radius: 25px; background: url(../images/ico-search.png) no-repeat center #ee0700; text-indent: -9999px; box-shadow: 0 7px 15px 0 #ffa590; cursor: pointer; } 
main .noticeBanner { width: 410px; max-height: 118px;} 
main .noticeBanner .boxViewport { width: 100%; overflow: hidden; max-height: 118px;} 
main .noticeBanner .boxViewport ul{max-height: 118px; width: 1600%; transform: translateX(-410px);} 
main .noticeBanner .boxViewport ul.on {transition: transform .5s;}
main .noticeBanner .boxViewport li{float: left;} 
main .noticeBanner .boxViewport li a {display: block;} 
main .noticeBanner .boxViewport li img { width: 100%; } 
main .noticeBanner .boxControlDirection { bottom: -14px; left: 95px; } 
main .noticeBanner .boxControl a {cursor: pointer;} 
main .noticeBanner .boxControlDirection .boxLeft { width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-l.png) no-repeat; margin-right: 41px; } 
main .noticeBanner .boxControlDirection .boxRight { width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-r.png) no-repeat; } 
main .noticeBanner .boxControlAuto { bottom: -14px; left: 117px; } 
main .boxControlAuto .boxStop { width: 10px; height: 12px; text-indent: -9999px; display: block; background: url(../images/slide-pause.png) no-repeat; } 
main .noticeBanner > .nthBox { bottom: -20px; left: 0; } 
main .noticeBanner > .nthBox em { font-weight: 700; color: #3a3a4a; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; } 
main .noticeBanner > .nthBox img { margin: 0 0 3px 10px; } 

main .visitorMenu { margin-top: 80px; } 
main .visitorMenu .titleWrap { margin-bottom: 35px; } 
main .visitorMenu .menuTitle { font-size: 21px; color: #3a3a4a; font-weight: 700; margin-right: 18px; } 
main .visitorMenu .menuToggle { width: 192px; display: inline-block; border: 1px solid #e1e3e6; background-color: #f6f6f6; border-radius: 20px; vertical-align: middle; top: -2px; z-index: 1;} 
main .visitorMenu .menuToggle > .on {color: #f6f6f6;}
main .visitorMenu .menuToggle > .on:before { width: 100%; height: 32px; position: absolute; top: -1px; left: -1px; background-color: #ee0700; content: ''; border-radius: 20px; z-index: -1;} 
main .visitorMenu .menuToggle > button { width: 50%; height: 30px; line-height: 30px; float: left; background: 0; color: #3a3a4a; position: relative; font-size: 15px; padding: 1px 6px; } 
main .visitorMenu .moreMenu a { background-color: #fff; border: 1px solid #69727e; color: #44465c; height: 32px; line-height: 32px; padding: 0 12px; border-radius: 4px; display: inline-block; margin: 0; text-align: center; text-decoration: none; vertical-align: top; } 
main .visitorMenu .moreMenu a:hover { background-color: #f6f6f6; } 
main .visitorMenu .menuList h2 { text-indent: -9999px; position: fixed; top: -9999px; font-size: 1px; width: 1px; height: 1px; opacity: 0; } 
main .visitorMenu .menuList ul { width: 100%; height: 100%; justify-content: space-between; padding: 0 13px; } 
main .visitorMenu .menuList li { text-align: center; } 
main .visitorMenu .menuList a { display: block; } 
main .visitorMenu .menuList span { width: 80px; height: 80px; line-height: 80px; display: inline-block; background-image: url(../images/sprite.png); background-color: #f6f6f6; border-radius: 32px; margin-bottom: 16px; position: relative; } 
main .visitorMenu .menuList span:hover { background-image: url(../images/sprite.png); background-color: #44465c; box-shadow: 2px 4px 10px 0 #9093b1; } 
main .visitorMenu .menuList .n1th { background-position: 0 0; } 
main .visitorMenu .menuList .n2th { background-position: -80px 0; } 
main .visitorMenu .menuList .n3th { background-position: -160px 0; } 
main .visitorMenu .menuList .n4th { background-position: -240px 0; } 
main .visitorMenu .menuList .n5th { background-position: 0 -80px; } 
main .visitorMenu .menuList .n6th { background-position: -80px -80px; } 
main .visitorMenu .menuList .n7th { background-position: -160px -80px; } 
main .visitorMenu .menuList .n8th { background-position: -240px -80px; } 
main .visitorMenu .menuList .n9th { background-position: 0 -160px; } 
main .visitorMenu .menuList .n1th:hover { background-position: -80px -160px; } 
main .visitorMenu .menuList .n2th:hover { background-position: -160px -160px; } 
main .visitorMenu .menuList .n3th:hover { background-position: -240px -160px; } 
main .visitorMenu .menuList .n4th:hover { background-position: 0 -240px; } 
main .visitorMenu .menuList .n5th:hover { background-position: -80px -240px; } 
main .visitorMenu .menuList .n6th:hover { background-position: -160px -240px; } 
main .visitorMenu .menuList .n7th:hover { background-position: -240px -240px; } 
main .visitorMenu .menuList .n8th:hover { background-position: 0 -320px; } 
main .visitorMenu .menuList .n9th:hover { background-position: -80px -320px; } 
.menuList p { text-align: center; line-height: 24px; color: #3a3a4a; font-size: 16px; } 

.mainBanner { margin-top: 70px; padding-bottom: 80px; } 
.mainBanner .bannerControl { margin-bottom: 18px; } 
.mainBanner .bannerControl > .nthBox em { font-weight: 700; color: #3a3a4a; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; } 
.mainBanner .boxWrap { width: 100%; height: 128px; background: url(../images/mainBanner.png) center /100% 100%; border-radius: 8px 55px 8px 8px; } 
.mainBanner .boxWrap > .boxViewport { overflow: hidden; height: 107px; } 
/* .mainBanner .boxWrap > .boxViewport ul { transition-duration: 0s; transform: translate3d(0px, -106.5px, 0px); } */
.mainBanner .boxWrap > .boxViewport ul { width: 100%; } 
.mainBanner .boxWrap > .boxViewport li { width: 100%; } 
.mainBanner .boxWrap > .boxViewport li > a { display: block; text-align: center; padding-top: 28px; } 
.mainBanner .boxWrap > .boxViewport li p { color: #111; letter-spacing: -1.5px; } 
.mainBanner .boxWrap > .boxViewport li .slogan { font-size: 21px; margin-bottom: 5px; } 
.mainBanner .boxWrap > .boxViewport li .title { font-size: 28px; } 
.mainBanner .boxWrap > .boxControl a { width: 40px; height: 40px; text-indent: -9999px; border-radius: 15px; display: block; } 
.mainBanner .boxWrap > .boxControl > .boxNext { background: #fff url(../images/arrow-slide-l.png) no-repeat; left: 30px; top: 40px; } 
.mainBanner .boxWrap > .boxControl > .boxPrev { background: #fff url(../images/arrow-slide-r.png) no-repeat; right: 30px; top: 40px; } 

main > .background { background: #f6f6f6; padding: 80px 0 85px; } 
main > .background > .newsWrap { max-width: 1180px; width: 100%; height: 320px; margin: 0 auto; justify-content: space-between; } 
main > .background > .newsWrap > div { width: 30%; height: 320px; } 
main .newsWrap ul { display: block; } 
main .newsWrap li { display: block; } 
main .newsWrap a { display: block; } 
main .newsWrap .newsArea { border-radius: 50px 20px 20px 20px; background-color: #ef6266; padding-top: 25px; } 
main .newsWrap > .newsArea li { height: 53px; border-bottom: 1px solid #f18f91; } 
main .newsWrap > .newsArea li:last-child { border: none; } 
main .newsWrap > .newsArea li a { display: block; margin-right: 40px; padding-left: 40px; height: 52px; line-height: 52px; color: #fff; font-weight: 700; font-size: 19px; } 
main .newsWrap > .newsArea li:first-child a { background: url(../images/icon_news_area_01.png) no-repeat right 12px } 
main .newsWrap > .newsArea li:nth-child(2) a { background: url(../images/icon_news_area_02.png) no-repeat right 8px } 
main .newsWrap > .newsArea li:nth-child(3) a { background: url(../images/icon_news_area_03.png) no-repeat right 10px } 
main .newsWrap > .newsArea li:nth-child(4) a { background: url(../images/icon_news_area_04.png) no-repeat right 10px } 
main .newsWrap > .newsArea li:nth-child(5) a { background: url(../images/icon_news_area_05.png) no-repeat right 10px } 
main .headthInfo { border: 1px solid #e1e3e6; background-color: #fff; border-radius: 20px 60px 20px 20px; padding: 35px 39px 0; } 
main .newsWrap .headthInfo > p { font-size: 21px; color: #3a3a4a; font-weight: 700; padding-bottom: 23px; border-bottom: 1px solid #f0edec; } 
main .newsWrap .headthInfo li { border-bottom: 1px solid #f0edec; } 
main .newsWrap .headthInfo li a { height: 45px; line-height: 45px; color: #3a3a4a; } 
main .newsWrap .headthInfo li:nth-child(1) a { background: url(../images/icon-health-info-1.png) no-repeat right 4px center; } 
main .newsWrap .headthInfo li:nth-child(2) a { background: url(../images/icon-health-info-2.png) no-repeat right; } 
main .newsWrap .headthInfo li:nth-child(3) a { background: url(../images/icon-health-info-4.png) no-repeat right 4px center; } 
main .newsWrap .headthInfo li:nth-child(4) a { background: url(../images/icon-health-info-3.png) no-repeat right 6px; } 
main .newsWrap .headthInfo li img { margin-left: 9px; } 
main .quickLink { background: #2fa298 url(../images/bg-guarantee.png) no-repeat right bottom; border-radius: 20px 20px 60px 20px; padding-top: 25px; } 
main .newsWrap .quickLink li { border-bottom: 1px solid #82c7c1; height: 53px; } 
main .newsWrap .quickLink li:last-child { border-bottom: none; } 
main .newsWrap .quickLink a { height: 52px; line-height: 52px; color: #fff; padding-left: 40px; font-size: 19px; font-weight: 700; margin-right: 40px; } 
main .newsWrap .quickLink a > p { font-size: 15px; color: #fff; line-height: 24px; font-weight: 400; } 

main .policyWrap { margin: 62px auto 0; max-width: 1180px; width: 100%; height: 320px; justify-content: space-between; } 
main .mainPolicy { width: 65%; height: 320px; background: url(../images/bg-notice.png) no-repeat; background-size: 100% 100%; padding: 30px 50px 0; } 
main .mainPolicy dl { width: 100%; text-align: center; } 
main .mainPolicy dt { font-size: 19px; color: #3a3a4a; font-weight: 700; line-height: 35px; padding-left: 59px; background: url(../images/ico-notice.png) no-repeat left center; text-align: left; } 
main .mainPolicy dt strong { display: block; font-size: 28px; } 
main .mainPolicy dd { display: block; border-top: 1px solid #f7cc01; padding-top: 20px; margin-top: 20px; } 
main .mainPolicy dd > a { display: block; height: 32px; font-size: 16px; color: #3a3a4a; letter-spacing: -1px; margin-top: 7px; position: relative; } 
main .mainPolicy dd > a > p { display: inline-block; } 
main .mainPolicy dd > a:hover > p { font-size: 24px; color: #3a3a4a; font-weight: 700; background: url(../images/bg-dummy.png) repeat-x left 10px; padding: 0 5px 0 10px; transition: all .6s; } 
main .mainPolicy dd > a:hover > .speechBubble { display: block; } 
.speechBubble { display: none; width: 234px; height: 74px; position: absolute; transform: translate(-50%,0); background-color: #44465c; border-radius: 15px; color: #fff; padding: 19px 10px 0; text-align: center; box-shadow: 2px 5px 14px 0 #777; top: -85px; left: 50%; } 
.speechBubble::after { width: 16px; height: 8px; background: url(../images/edge-balloon.png) no-repeat center bottom; content: ""; position: absolute; bottom: -7px; left: 110px; } 

.speechBubble span { color: #ffea00; } 
main .eventBanner { width: 30%; background-color: #fff; border: 1px solid #e1e3e6; padding: 33px 39px 0; border-radius: 20px 20px 55px 20px; } 
main .eventBanner > p { font-size: 21px; color: #3a3a4a; margin-bottom: 19px; font-weight: 700; } 
main .eventBanner > .nthBox { top: 37px; right: 42px; padding-right: 82px; } 
main .eventBanner > .nthBox span em { font-weight: 700; color: #3a3a4a; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; } 
main .eventBanner .boxViewport img { width: 100%; height: 190px; } 
main .eventBanner .boxControlDirection { top: 44px; right: 49px; } 
main .eventBanner .boxLeft { display: inline-block; width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-l.png) no-repeat; margin-right: 41px; } 
main .eventBanner .boxRight { display: inline-block; width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-r.png) no-repeat; } 
main .eventBanner .boxControlAuto { top: 44px; right: 73px; } 
main .aboutWrap { margin: 62px auto 0; max-width: 1180px; width: 100%; height: 370px; justify-content: space-between; } 

main .alarmService { width: 30%; height: 370px; padding: 33px 39px 0; background-color: #fff; border-radius: 20px 20px 20px 55px; border: 1px solid #e1e3e6; } 
main .alarmService .title { display: block; font-size: 21px; color: #3a3a4a; margin-bottom: 19px; font-weight: 700; } 
main .alarmService .date { line-height: 24px; margin-bottom: 17px; } 
main .alarmService .date img { margin:0 0 4px 7px; width: 7px; } 
main .alarmService .graph { height: 180px; padding-top: 140px; position: relative; } 
main .alarmService .graph ul { width: 100%; } 
main .alarmService .graph ul li { width:20%; } 
main .alarmService .graph input { display: none; } 
main .alarmService .graph input:checked + label { background: #44465c; color: #fff; border: #44465c; } 
main .alarmService .graph label { width: 100%; height: 40px; line-height: 38px; text-align: center; background-color: #fff; border: 1px solid #ccc; font-size: 13px; color: #44465c; display: block; border-left: 0; cursor: pointer; } 
main .alarmService .graph label:hover { background: #44465c; color: #fff; border: #44465c; } 
main .alarmService .graph li:first-child label { border-left: 1px solid #ccc; border-radius: 5px 0 0 5px; } 
main .alarmService .graph li:last-child label { border-right: 1px solid #ccc; border-radius: 0 5px 5px 0; } 
main .alarmService .graph li div { display: none; width: 201px; height: 100px; position: absolute; top: 0; left: 50%; transform: translate(-50%,0); text-align: center; padding-top: 70px; color: #057eb6; font-weight: 700; } 
main .alarmService .graph input:checked ~ div { display: block; } 
main .alarmService .graph li:nth-child(1) div { background: url(../images/sprite.png) -321px -200px; } 
main .alarmService .graph li:nth-child(2) div { background: url(../images/sprite.png) -321px -100px; } 
main .alarmService .graph li:nth-child(3) div { background: url(../images/sprite.png) -321px 0; } 
main .alarmService .graph li:nth-child(4) div { background: url(../images/sprite.png) -321px -300px; } 
main .alarmService .graph li:nth-child(5) div { background: url(../images/sprite.png) -321px -200px; } 

main .divWrap { width: 30%; height: 370px; } 
main .organization { width: 100%; height: 170px; border: 1px solid #e1e3e6; padding: 33px 39px 0; background: #fff url(../images/bg-organization.png) no-repeat right top; border-radius: 20px 55px 20px 20px; margin-bottom: 30px; } 
main .findBranch { width: 100%; background: #fff url(../images/bg-center.png) no-repeat right bottom; border-radius: 55px 20px 20px 20px; height: 170px; border: 1px solid #e1e3e6; padding: 33px 39px 0; } 
main .divWrap .title { display: block; font-size: 21px; color: #3a3a4a; margin-bottom: 19px; font-weight: 700; } 
main .divWrap > div > a { display: block; } 

main .promotionZone { width: 30%; height: 370px; background-color: #fff; border: 1px solid #e1e3e6; padding: 33px 39px 0; border-radius: 20px 20px 55px 20px; } 
main .promotionZone > p { font-size: 21px; color: #3a3a4a; margin-bottom: 19px; font-weight: 700; } 
main .promotionZone > .nthBox { top: 37px; right: 42px; padding-right: 82px; } 
main .promotionZone > .nthBox em { font-weight: 700; color: #3a3a4a; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; } 
main .promotionZone .boxViewport img { width: 100%; height: 240px; } 
main .promotionZone .boxControlDirection { top: 44px; right: 49px; } 
main .promotionZone .boxLeft { display: inline-block; width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-l.png) no-repeat; margin-right: 41px; } 
main .promotionZone .boxRight { display: inline-block; width: 7px; height: 12px; text-indent: -9999px; background: url(../images/arrow-banner-r.png) no-repeat; } 
main .promotionZone .boxControlAuto { top: 44px; right: 73px; } 

main .serviceWrap { max-width: 1180px; width: 100%; height: 261px; margin: 62px auto 0; background: #fff url(../images/bg-news-hiwell.png)no-repeat right top; border: 1px solid #e1e3e6; border-radius: 20px; padding: 39px; } 
main .serviceWrap .customerService { width: 56.4%; margin-right: 3.4%; } 
main .customerService > ul { width: 100%; } 
main .customerService > ul > li { width: calc(100% / 2 - 10px); background-color: #f6f6f6; border-radius: 10px; overflow: hidden; } 
main .serviceWrap .title { font-size: 21px; font-weight: 700; color: #3a3a4a; margin-bottom: 19px; } 
main .customerService li a { display: block; height: 110px; padding: 13px 90px 0 25px; } 
main .customerService dt { font-size: 23px; line-height: 23px; margin-bottom: 3px; color: #3a3a4a; font-weight: 700; } 
main .customerService dd { font-size: 15px; color: #6e7174; display: block; } 
main .customerService > ul a > p { font-size: 16px; color: #3a3a4a; font-weight: 700; padding-top: 17px; } 
main .customerService img { top: 25px; right: 30px; } 
main .serviceWrap .newsLetter { width: 20%; } 
main .serviceWrap .newsLetter a { padding: 20px 0 20px 80px; background: url(../images/i-newsLetter.png) no-repeat left center; display: block; } 
main .serviceWrap .appDownload { width: 20%; } 
main .serviceWrap .appDownload > ul { width: 100%; } 
main .serviceWrap .appDownload > ul > li { width: calc(100% / 2 - 12px); color: #3a3a4a; text-align: center; } 
main .serviceWrap .appDownload li > p { width: 100%; height: 90px; line-height: 90px; margin-bottom: 6px; background-color: #f4f1f0; border-radius: 15px; } 

/* chatbot */
.chatbotIcon > a { background: url(../images/logo_chatbot_home.png); position: fixed; display: block; width: 70px; height: 70px; background-size: cover; font-size: 0; text-indent: -9999px; z-index: 1; } 
@media (min-width: 992px){
 .chatbotIcon > a { right: 40px; bottom: 85px; background-size: cover; } 
 }
@media (max-width: 992px){
 .chatbotIcon > a { right: 45px; bottom: 85px; background-size: cover; } 
 }
/* ~chatbot */

footer { width: 100%; padding: 40px 0 77px; background-color: #f6f6f6; border-top: 1px solid #e1e1e1; font-size: 13px; } 
footer .footerTop { height: 40px; } 
footer .footerTop > .terms { line-height:40px; } 
footer .footerTop > .terms li { margin-left: 20px; } 
footer .footerTop > .terms li:first-child { margin:0; } 
footer .footerTop > .terms li:nth-child(3) { color: #d7021b; font-weight: 700; } 
footer .footerTop > .relatedSites > div { display: inline-block; } 
footer .footerTop > .relatedSites input { display: none; } 
footer .footerTop > .relatedSites label { display: inline-block; background: #fff; width: 198px; height: 40px; padding: 0 30px 0 20px; line-height: 40px; color: #000; cursor: pointer; position: relative; } 
.relatedSites li { display: block; } 

footer .footerTop > .relatedSites .internalRelated label::after { content: "▼"; font-size: 0.8em; position: absolute; right: 20px; color: #434559; } 
footer .footerTop > .relatedSites .internalRelated input:checked ~ label::after { content: "▲"; } 
footer .footerTop > .relatedSites .internalRelated input:checked ~ .internalRelatedToggle { display: block; } 
.internalRelatedToggle { display: none; width: 245px; height: 332px; border: 1px solid #666779; border-radius: 5px; vertical-align: top; background: #fff; padding: 15px 20px; bottom: 210px; } 
.internalRelatedToggle ul { width: 100%; height: 100%; } 
.internalRelatedToggle ul li a { padding: 4px 0; display: block; font-size: 15px; } 
.internalRelatedToggle ul li a:hover { color: #d7021b; text-decoration: underline; } 

footer .footerTop > .relatedSites .related { margin-left: 10px; } 
footer .footerTop > .relatedSites .related label::after { position: absolute; right: 20px; content: "▼"; font-size: 0.8em; color: #434559; } 
footer .footerTop > .relatedSites .related input:checked ~ label::after { content: "▲"; } 
footer .footerTop > .relatedSites .related input:checked ~ .relatedToggle { display: block; } 
.relatedToggle { display: none; width: 245px; height: 364px; padding: 15px 20px; bottom: 210px; overflow-y: scroll; border: 1px solid #666779; border-radius: 5px; vertical-align: top; background: #fff; } 
.relatedToggle ul { width: 100%; height: 100%; } 
.relatedToggle ul li a { padding: 4px 0; display: block; font-size: 15px; } 
.relatedToggle ul li a:hover { color: #d7021b; text-decoration: underline; } 

footer .footerTop > .relatedSites > div > a { display: inline-block; width: 46px; height: 40px; background: #fff; line-height: 40px; text-align: center; } 

footer .footerBottom { padding-top:15px; margin-top: 30px; } 
footer .footerBottom .certificationList { top: -15px; right: 0; } 
footer .footerBottom .certificationList > li { margin-left: 12px; } 
footer .footerBottom .certificationList > li:nth-child(1) { width: 61px; background: url(../images/mark02-img01.png); } 
footer .footerBottom .certificationList > li:nth-child(2) { width: 40px; background: url(../images/mark02-img02.png); } 
footer .footerBottom .certificationList > li:nth-child(3) { width: 57px; background: url(../images/mark02-img03.png); } 
footer .footerBottom .certificationList > li:nth-child(4) { width: 55px; height: 39px; background: url(../images/mark02-img04.png); } 
footer .footerBottom .certificationList > li > a { display: block; height: 41px; font-size: 0; } 

footer .footerBottom .snsList { top: 60px; right: 0; } 
footer .footerBottom .snsList > li { margin-left: 12px; } 
footer .footerBottom .snsList > li > a { display: block; width: 32px; height: 32px; border-radius: 15px; text-indent: -9999px; background-image: url(../images/sprite.png); background-color: #fff; } 
footer .footerBottom .snsList > li:hover > a { background-image: url(../images/sprite.png); background-color: #44465c; } 
footer .footerBottom .snsList > li:nth-child(1) a { background-position: -169px -401px } 
footer .footerBottom .snsList > li:nth-child(1):hover a { background-position: -169px -433px; } 
footer .footerBottom .snsList > li:nth-child(2) a { background-position: -201px -401px } 
footer .footerBottom .snsList > li:nth-child(2):hover a { background-position: -201px -433px; } 
footer .footerBottom .snsList > li:nth-child(3) a { background-position: -233px -401px } 
footer .footerBottom .snsList > li:nth-child(3):hover a { background-position: -233px -433px; } 
footer .footerBottom .snsList > li:nth-child(4) a { background-position: -265px -401px } 
footer .footerBottom .snsList > li:nth-child(4):hover a { background-position: -265px -433px; } 
footer .footerBottom .snsList > li:nth-child(5) a { background-position: -297px -401px } 
footer .footerBottom .snsList > li:nth-child(5):hover a { background-position: -297px -433px; } 


footer .footerBottom .footerTxt .copy { margin-top: 6px; } 
footer .footerBottom .footerTxt address a:hover { color: #d7021b; outline: 1px solid #333; } 
footer .footerBottom .valiator { margin-top: 20px; } 
footer .footerBottom .valiator a { margin-right: 20px; } 

footer .scrollUp { position: fixed; right: 55px; bottom: 40px; z-index: 1; text-indent: -9999px; width: 40px; height: 40px; background: url(../images/sprite.png) -260px -340px; } 
footer .scrollUp:hover { background:url(../images/sprite.png) -180px -340px; } 

.quickMenu { position: fixed; top: 260px; right: -95px; z-index: 3; } 
.quickMenu li { display: block; position: relative; margin-bottom: 1px; } 
.quickMenu li a { display: block; position: relative; width: 135px; height: 40px; padding: 0 0 0 40px; background: #44465c; font-size: 13px; color: #fff; padding-right: 12px; line-height: 40px; transition: right 0.5s; right: 0; } 
.quickMenu li:nth-child(6) a { padding: 7px 0 0 40px; line-height: 1.1; } 
.quickMenu li:nth-child(7) a { padding-right: 0; } 
.quickMenu li a:hover { right: 82px; } 
.quickMenu span { position: absolute; top: 0; left: 0; width: 40px; height: 40px; line-height: 40px; text-align: center; display: inline-block; } 