@font-face { font-family: 'Malgun Gothic'; src: url(malgun.ttf); font-weight: 400; } 
@font-face { font-family: 'Malgun Gothic'; src: url(malgunbd.ttf); font-weight: 700; } 
@font-face { font-family: '돋움'; src: url(DotumLight.ttf); font-weight: 100; } 
@font-face { font-family: '돋움'; src: url(DotumMedium.ttf); font-weight: 400; } 
@font-face { font-family: '돋움'; src: url(DotumBold.ttf); font-weight: 700; } 